<div class="container mt-5">
    <div class="row">
        <div class="col-md-10">
            <h1>
                Usuarios
            </h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            Nombre
                        </td>
                        <td>
                            Apellido
                        </td>
                        <td>
                            Telefono
                        </td>
                        <td>
                            Fecha de Nacimiento
                        </td>
                        <td>
                            Acción
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>
                            {{ usuario.correo }}
                        </td>
                        <td>
                            {{ usuario.nombre }}
                        </td>
                        <td>
                            {{ usuario.apellido }}
                        </td>
                        <td>
                            {{ usuario.numero_tel }}
                        </td>
                        <td>
                            {{ usuario.fecha_nac | date }}
                        </td>
                        <td>
                            <button class="btn btn-danger" *ngIf="usuario.id_usuario !== authService.user['id_usuario']" (click)="eliminarUsuario(usuario.id_usuario)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>