<div class="container mt-5">
  <div class="row">
    <div class="col-md-10">
      <h1>
        Libros
      </h1>
    </div>
    <div class="col-md-2">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary">Nuevo Libro</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <td>
              Titulo
            </td>
            <td>
              Autor
            </td>
            <td>
              Editorial
            </td>
            <td>
              Año de publicación
            </td>
            <td>
              Precio (Q)
            </td>
            <td>
              Disponible
            </td>
          </tr>
        </thead>
        <tbody *ngIf="!loading">
          <tr *ngFor="let libro of libros">
            <td>
              {{ libro.titulo }}
            </td>
            <td>
              {{ libro.autor }}
            </td>
            <td>
              {{ libro.editorial }}
            </td>
            <td>
              {{ libro["año_publicacion"] }}
            </td>
            <td>
              {{ libro.precio_renta | currency:'Q' }}
            </td>
            <td>
              {{ libro.disponible ? "Disponible" : "No Disponible" }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-warning mt-3" *ngIf="error">
        Error al obtener libros.
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>