<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <span class="fs-4">Bienvenido {{ authService.user['nombre'] }} {{ authService.user['apellido'] }}</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Ver Libros</h1>
        <p class="col-md-8 fs-4">Puedes buscar y navegar en nuestro catalogo de libros para elegir cuales de ellos quieres comprar y/o alquilar. Ten en cuenta que los libros que decidas alquilar, los debes de regresar antes de la fecha propuesta. Puedes ver tus libros en la biblioteca despues.</p>
        <button class="btn btn-primary btn-lg" (click)="verLibros()" type="button">Ir a Libros</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6" *ngIf="authService.user['id_usuario'] !== 'admin'">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Mi Biblioteca</h2>
          <p>En tu biblioteca puedes ver el historial de los libros que has comprado y/o alquilado en myLibrary. Es también en tu biblioteca en donde puedes devolver los libros que hayas alquilado. Ten en cuenta que después de entregar los libros, ya no tienes acceso a ellos.</p>
          <button class="btn btn-outline-light" type="button" (click)="verBiblioteca()">Ir a Biblioteca</button>
        </div>
      </div>
      <div class="col-md-6" *ngIf="authService.user['id_usuario'] !== 'admin'">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Mi Perfil</h2>
          <p>En tu perfil puedes ver la información básica de tu usuario y de igual manera puedes editarla. Ten en cuenta que is decides cambiar tu correo o contraseña, tendras que utilizarlos también para iniciar sesión posteriormente.</p>
          <button class="btn btn-outline-secondary" type="button" (click)="verPerfil()">Ir a mi Perfil</button>
        </div>
      </div>
      <div class="col-md-6" *ngIf="authService.user['id_usuario'] === 'admin'">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Usuarios</h2>
          <p>En el apartado de usuaios, el administrador puede ver la información de todos los usuarios registrados en el sistema, al igual que puede eliminarlos.</p>
          <button class="btn btn-outline-secondary" type="button" (click)="verUsuarios()">Ir a Usuarios</button>
        </div>
      </div>
    </div>
    <footer class="pt-3 mt-4 text-body-secondary border-top">
      &copy; 2023
    </footer>
  </div>
</main>